<!-- <h1>Pages#faq</h1>
<p>Find me in app/views/pages/faq.html.erb</p>
-->

<h1>Frequently Asked Questions</h1>

<a id="top" href="#verybottom">Go To The Bottom of The Page?</a>

<div>
	<ul class = "pager">
	   <li class = "previous">
	   		<a href = "/pages/welcome" class="beehivelybtn">&larr; Home </a>
	   	</li>
	</ul>
</div>

	<h3>FAQ Index</h3>

	<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle activation-menu-cta" aria-expanded="false"> Select Your Question <span class="caret"></span></button>
	    <ul class="dropdown-menu dropdown-menu-right-fix">
	        <li><a id="btnDropFAQ1" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">FAQ Content # 1</a></li>
	        <li><a id="btnDropFAQ2" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">FAQ Content # 2</a></li>
	        <li><a id="btnDropFAQ3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">FAQ Content # 3</a></li>
	        <li><a id="btnDropFAQ4" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">FAQ Content # 4</a></li>
	       	<li><a id="btnDropFAQ5" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">FAQ Content # 5</a></li>
	       	<li><a id="btnDropFAQ6" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">FAQ Content # 6</a></li>
	        <li><a id="btnDropFAQ7" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">FAQ Content # 7</a></li>
	        <li><a id="btnDropFAQ8" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">FAQ Content # 8</a></li>
	        <li><a id="btnDropFAQ9" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">FAQ Content # 9</a></li>
	       	<li><a id="btnDropFAQ10" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">FAQ Content # 10</a></li>
	       	<li><a id="btnDropFAQ11" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">FAQ Content # 11</a></li>
	       	<li><a id="btnDropFAQ12" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">FAQ Content # 12</a></li>
	    </ul>
	</div>
	<br><br><br>

		<!-- FAQ Section Begin --> <!-- Solution to Clickable area: http://ux.stackexchange.com/questions/55800/accordian-anchor-click-vs-header-click -->
		
			<div id="FAQ">
				
				<!-- Collapsible List Group -->
				<!-- Collapsible Panel Number 1 -->
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title">
					  	<span class="caret"></span>
						<a class="collapsed" role="button" data-toggle="collapse" name="collapseOne" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						  FAQ Content #1
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body" id="panelbody1">
					  
					  <!-- Horizontal Description Steps For Solving The Problem -->
					  
							<b>Please proceed through the following steps till the problem is solved. <b>
					  
							<dl class="dl-horizontal">
								<dt> Step 1 </dt>
								<dd> Make Sure You Are Logged In.</dd>
								<dt> Step 2 </dt>
								<dd> Log out and log back in.</dd>
								<dt> Step 3 </dt>
								<dd> Submit A Ticket. </dd>
								<dt> Thank You </dt>
								<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
							</dl>
					 
					  </div>
					</div>
				  </div>
				  
				  <!-- Collapsible Panel Number 2 -->
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					  <h4 class="panel-title">
					  <span class="caret"></span>
						<a class="collapsed" role="button" data-toggle="collapse" name="collapseTwo" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  FAQ Content #2
						</a>
					  </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpane2" aria-labelledby="headingTwo">
					  <div class="panel-body">
					  
					  <!-- Horizontal Description Steps For Solving The Problem -->
					  
							<b>Please proceed through the following steps till the problem is solved. <b>
					  
							<dl class="dl-horizontal">
								<dt> Step 1 </dt>
								<dd> Make Sure You Are Logged In.</dd>
								<dt> Step 2 </dt>
								<dd> Log out and log back in.</dd>
								<dt> Step 3 </dt>
								<dd> Submit A Ticket. </dd>
								<dt> Thank You </dt>
								<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
							</dl>
					 
					  </div>
					</div>
				</div>
				
				  <!-- Collapsible Panel Number 3 -->
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					  <h4 class="panel-title">
					  	<span class="caret"></span>
						<a class="collapsed" role="button" data-toggle="collapse" name="collapseThree" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						  FAQ Content #3
						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpane3" aria-labelledby="headingThree">
					  <div class="panel-body">
					  
					  <!-- Horizontal Description Steps For Solving The Problem -->
					  
							<b>Please proceed through the following steps till the problem is solved. <b>
					  
							<dl class="dl-horizontal">
								<dt> Step 1 </dt>
								<dd> Make Sure You Are Logged In.</dd>
								<dt> Step 2 </dt>
								<dd> Log out and log back in.</dd>
								<dt> Step 3 </dt>
								<dd> Submit A Ticket. </dd>
								<dt> Thank You </dt>
								<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
							</dl>
					  
					  </div>
					</div>
				  </div>
				  
				  <!-- Collapsible Panel Number 4 -->
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseFour" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								FAQ Content #4
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpane4" aria-labelledby="headingFour">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
					  
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>
					</div>
				</div>
					
					<!-- Collapsible Panel Number 5 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseFive" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							FAQ Content #5
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpane5" aria-labelledby="headingFive">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 6 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseSix" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							FAQ Content #6
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpane6" aria-labelledby="headingSix">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 7 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseSeven" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
							FAQ Content #7
							</a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpane7" aria-labelledby="headingSeven">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 8 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingEight">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseEight" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
							FAQ Content #8
							</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpane8" aria-labelledby="headingEight">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 9 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingNine">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseNine" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
							FAQ Content #9
							</a>
						</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpane9" aria-labelledby="headingNine">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
					<!-- Collapsible Panel Number 10 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTen">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseTen" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
							FAQ Content #10
							</a>
						</h4>
					</div>
					<div id="collapseTen" class="panel-collapse collapse" role="tabpane10" aria-labelledby="headingTen">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
									<!-- Collapsible Panel Number 5 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingEleven">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseEleven" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
							FAQ Content #11
							</a>
						</h4>
					</div>
					<div id="collapseEleven" class="panel-collapse collapse" role="tabpane11" aria-labelledby="headingEleven">
					<div class="panel-body">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
									<!-- Collapsible Panel Number 5 -->
					<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwelve">
						<h4 class="panel-title">
							<span class="caret"></span>
							<a class="collapsed" role="button" data-toggle="collapse" name="collapseTwelve" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
							FAQ Content #12
							</a>
						</h4>
					</div>
					<div id="collapseTwelve" class="panel-collapse collapse" role="tabpane12" aria-labelledby="headingTwelve">
					<div class="panel-body" id="panelbody12">
					
						<!-- Horizontal Description Steps For Solving The Problem -->
						
						<b>Please proceed through the following steps till the problem is solved. <b>
					  
						<dl class="dl-horizontal">
							<dt> Step 1 </dt>
							<dd> Make Sure You Are Logged In.</dd>
							<dt> Step 2 </dt>
							<dd> Log out and log back in.</dd>
							<dt> Step 3 </dt>
							<dd> Submit A Ticket. </dd>
							<dt> Thank You </dt>
							<dd> We appreciate you taking the time to attempt to solve the problem through our FAQ. </dd>
						</dl>

					</div>
					</div>
				</div>
				
				<!-- Collapsible List Group End -->
				
				</div>
		</div>
	</div>
			
			<!-- FAQ Section End -->
			
			<a id="bottom" href="#verytop">Go To The Top of The Page?</a>

<div>
	<ul class = "pager">
	   <li class = "previous">
	   		<a href = "/pages/welcome" class="beehivelybtn">&larr; Home </a>
	   	</li>
	</ul>
</div>

<script>

$(document).ready(function test() {
	
	location.href ="#verybottom";
	location.href="#verytop";
});
	
</script>

<script>

$(document).ready(function () {
	
        $('.collapse').collapse('hide');
        $('#btnDropFAQ1').click(function () {
            $('#collapseOne').collapse('show');
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFour').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ2').click(function () {
            $('#collapseTwo').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFour').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ3').click(function () {
            $('#collapseThree').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseTwo').collapse('hide');
            $('#collapseFour').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ4').click(function () {
            $('#collapseFour').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFive').collapse('hide');
        });
        $('#btnDropFAQ5').click(function () {
            $('#collapseFour').collapse('show');
            $('#collapseOne').collapse('hide');
            $('#collapseTwo').collapse('hide');
            $('#collapseThree').collapse('hide');
            $('#collapseFour').collapse('hide');
        });
    });

});
	
</script>

<style>

/* Style the FAQ Section */

.panel-default>.panel-heading {
    background-color: #e6b800;
}
	
.panel-default{
	box-shadow: 10px 10px 5px #808080;
}

.panel-heading{
	box-shadow: 10px 10px 5px #808080;
}
	
.beehivelybtn:active{
    color: #000;
    background-color: #ffbf00;
    border-color: #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:hover {
    color: #000;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:active:hover {
    color: #000;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

	
</style>