<%# <h1>Pages#viewTicket</h1> 
<p>Find me in app/views/pages/viewTicket.html.erb</p> %>


<div>
	<ul class = "pager">
	   <li class = "previous">
	   		<a href = "/pages/welcome" class="beehivelybtn">&larr; Home </a>
	   	</li>
	</ul>
</div>

				<!-- View Tickets Section Begin -->	
				<div id="ViewTickets">
				
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>ID</td>
							<td>Problem Description</td>
							<td>Status</td>
							<td>New Responses</td>
							<td> Technician Handling Ticket</td>
							<td>Last Activity</td>
						</tr>
						<tr>
							<td>1</td>
							<td> Cheapest place to buy a new computer. </td>
							<td>Open</td>
							<td>1</td>
							<td> Otto </td>
							<td> < Than A Minute Ago </td>
						</tr>
						<tr>
							<td>2</td>
							<td> I can't turn my computer on. </td>
							<td>Closed</td>
							<td>1</td>
							<td> Otto </td>
							<td> 5 Minutes Ago </td>
						</tr>
						<tr>
							<td>3</td>
							<td> My Computer is on fire. </td>
							<td>Closed</td>
							<td>5</td>
							<td> Thornton </td>
							<td> 10 Minutes Ago </td>
						</tr>
						<tr>
							<td>4</td>
							<td>My Computer is making odd noises. </td>
							<td>Closed</td>
							<td>0</td>
							<td> Thornton </td>
							<td> 20 Minutes Ago </td>
						</tr>
						<tr>
							<td>5</td>
							<td> I dropped my computer and it has a cracked screen? How to fix? </td>
							<td>Closed</td>
							<td>0</td>
							<td> Thornton </td>
							<td> 30 Minutes Ago </td>
						</tr>
					</tbody>
				</table>
					
				</div>
				<!-- View Tickets Section End -->

<div>
	<ul class = "pager">
	   <li class = "previous">
	   		<a href = "/pages/welcome" class="beehivelybtn">&larr; Home </a>
	   	</li>
	</ul>
</div>

<style>
	
.beehivelybtn:active{
    color: #000;
    background-color: #ffbf00;
    border-color: #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:hover {
    color: #000;
    background-color: #ffbf00;
    border-color: #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:active:hover {
    color: #000;
    background-color: #ffbf00;
    border-color: #0000;
	box-shadow: 10px 10px 5px #808080;
}

.panel-default>.panel-heading {
    background-color: #e6b800;
}
	
.panel-default{
	box-shadow: 10px 10px 5px #808080;
}

.panel-heading{
	box-shadow: 10px 10px 5px #808080;
}

</style>

