
<div class="customSpacingMedium"></div>

<div class="row" id="Home">
	<!-- Beginning of Three primary buttons -->

	<%= link_to(pages_faq_path) do %>
				<div align= "center" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
					<button id = "btnFAQ" type="button" class= "btn btn-default btn-lg beehivelybtn" aria-label="FAQ" href="link_to "FAQ", pages_faq_path">
					<span style="font-size: 3.0em;" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<br> FAQ </br>
				</div>
	<% end %>
	<%= link_to(tickets_new_path) do %>
				<div align= "center" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
					<button  id = "btnSubmitTicket" role="button" type="button" class="btn btn-default btn-lg beehivelybtn" data-container="body" data-toggle="popover" 
					data-trigger="focus" title="Helpful Tip" data-content="Have you tried looking at the FAQ Section?" aria-label="Submit Ticket" href="tickets_new_path">
					<span style="font-size: 3.0em;" class="glyphicon glyphicon-send" aria-hidden="true" ></span>
					<br> Submit A Ticket </br>
				</div>
	<% end %>	
	<%= link_to(tickets_show_path) do %>
				<div align= "center" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
					<button id = "btnViewTickets" type="button" class="btn btn-default btn-lg beehivelybtn" aria-label="View Tickets" href="pages_viewTicket_path">
					<span style="font-size: 3.0em;" class="glyphicon glyphicon-inbox" aria-hidden="true" ></span>
					<br> View Your Tickets </br>
				</div>
	<% end %>
</div>

<div class="customSpacingMedium"></div>

<style>
	
.beehivelybtn:active{
    color: #fff;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:hover {
    color: #fff;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

.beehivelybtn:active:hover {
    color: #fff;
    background-color: #ffbf00;
    border-color:  #0000;
	box-shadow: 10px 10px 5px #808080;
}

.panel-default>.panel-heading {
    background-color: #e6b800;
}
	
.panel-default{
	box-shadow: 10px 10px 5px #808080;
}

.panel-heading{
	box-shadow: 10px 10px 5px #808080;
}
	
	
</style>
