
 <!--<h5>This is the footer</h5>
 <p>THis view is located in views/layouts/_footer.html.erb</p>
 -->


 <hr>
 <footer class="footer">
 <div class="panel panel-default">
  <div class="panel-body">

    <div align= "center" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
       <%= image_tag("footer-logo.png", :alt => "rss feed") %>
     
     
      <p><strong>Beehively</strong></p>
      <p>129 E Street, D-3</p>
      <p>Davis, CA 95616</p>
      
      
      <abbr title="Phone">P:</abbr> (888) 851-4879<br>
      <a href="https://spring2016-seniorproject-vmeln009.c9users.io/pages/welcome">support@beehively.com</a>
      
   </div>
   
   <div align= "center" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    
    <h2>Company</h2>
    
    <hr>
    
    <p><a href="http://beehively.com/about">About</a></p>
    <p><a href="http://beehively.com/services">Services</a></p>
    <p><a href="http://beehively.com/resources-and-support">Resources & Support</a></p>
    <p><a href="https://blog.beehively.com/">Feature Updates</a></p>
    <p id="verybottom"><a href="http://beehively.com/careers">Careers</a></p>
    
   </div>
   
   <div align= "center" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    
    <h2 align="center">What is Beehively?</h2>
    
    <p class="row" align="left" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <!--<p class="row" align="right" class="col-lg-4 col-md-12 col-sm-12 col-xs-12"> -->
     
       We serve as partners in innovation. 
       Taking the guesswork out of integrating 
       technology in schools in meaningful 
       ways, Beehively inspires interaction 
       and organization among administrators, 
       teachers, students and parents.</p>
    
   </div>
  
     </div>
</div>
</footer>